html{
    overflow:hidden;
}
.const{
    
    text-align: center;
    font-weight: 7000;
    color: red ;
}
.text{
    overflow: hidden;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
}

body{
    padding:0;
    margin: 0;
    
    background: linear-gradient(to right,#00aaff,#00ff6c)
}
.center{
    margin: 0;
    position:absolute;
    left: 43%;
    top:13%;

}
.lines{
    position: absolute;
    overflow: hidden;
    margin: 0;
    top:74%;
    font-size: 1.5rem;
    left: 35%;
}
.row{
    position: absolute;
    top:22%;
    left: 38%;
    width: 400px;
    height:400px;
    background:black;
}
.cell{
width: 91px;
height: 91px;
border-radius: 10%;
background: transparent;
border:5px solid blueviolet;
display: inline-block;
margin-right:-5px ;
margin-bottom: -5px;
overflow: hidden;
font-size:30px;
line-height: 2 ;font-size: 40px; overflow: hidden;
text-align: center;
font-family: Arial,sans-serif;
color:whitesmoke;
}

